<nav class="undernav">
    <ul class="undernav-nav">
        <li class="undernav-item">
            <a id="seeTips" class="undernav-link" asp-area="" asp-controller="Home" asp-action="Blog">See tips</a>
        </li>
        <li class="undernav-item">
            <a id="writeTips" class="undernav-link" asp-area="" asp-controller="Home" asp-action="WriteBlogPost">Write tips</a>
        </li>
    </ul>
</nav>