@{
    ViewData["Title"] = "Rules";
}

<section>
    <h1>Regler</h1>
    <p>@ViewBag.Text</p>
    <article class="rules-article">
        <h2>Allmänna regler</h2>
        <ul class="rules-ul">
            <li>Man spelar alltid dubbel (på den vanliga banan, 10×20 m).</li>
            <li>Poängräkning är samma som tennis.</li>
            <li>Linjerna på planen används endast vid serve.</li>
            <li>Serve ska slås underhands och studsa i motspelarnas serveruta.</li>
            <li>Serve får studsa upp i glasväggen men om den studsar i galler är den felaktig.</li>
            <li>Man har två servar på sig.</li>
            <li>Om bollen går direkt i motspelarnas vägg så räknas den som ute. Innan bollen tar i motspelarens vägg så måste den studsa i marken.</li>
            <li>Man får spela volley (inte på serve), halvvolley eller låta bollen studsa på glas/gallervägg.</li>
            <li>Man får även slå bollen på sin egen glasvägg för att få över den till motspelarnas planhalva.</li>
            <li>Man får inte slå bollen i gallret på sin egen sida.</li>
        </ul>
    </article>
    <article class="rules-article">
        <h2>Poängräkning</h2>
        <p>Poängräkning i padel är precis som tennis. Man spelar bäst av 3 eller 5 set och i varje set gäller det att vinna 6 game. I ett game räknar man poäng på följande sätt: 0, 15, 30, 40, game. Om ställningen är 40-40 så måste man vinna med två poäng för att gamet ska avgöras.</p>
        <p>I ett set gäller det att komma först till 6 vunna game. Om ställningen däremot blir 5-5 så spelar man till 7 vunna game. Om ställningen blir 6-6 så spelar man ett avgörande game, kallat tiebreak. Tiebreak spelas först till 7 vunna poäng, där man också måste vinna med minst två poäng.</p>
    </article>
    <article class="rules-article">
        <h2>Serve</h2>
        <p>Reglerna för serven skiljer sig mot tennis. En serve i padel ska alltid slås underhands och bollen ska slås i eller under midjehöjd. Istället för att kasta upp bollen, som man gör i tennis, ska man i padel studsa bollen i marken. Studsen ska vara bakom egen servruta samt mellan mittlinjen och sidoväggen. Fötter och kropp ska vara på rätt sida, dvs servesidan. Minst en fot ska vara i marken. Man får inte gå, springa eller hoppa vid serve. Mindre fotrörelser som inte påverkar serveställningen är accepterat.</p>
        <p>Serven ska gå diagonalt och studsa i motståndarens motsatta serve­ruta. Serven är även giltig om den studsar upp i motståndarens glasvägg men om den däremot studsar upp i motståndarens galler så är den felaktig. I varje nytt set så väljer man vem som börjar serva och om man vill byta servemottagarsida.</p>
        <p>Precis som i tennis så har man en förstaserve och en andraserve, dvs om man missar sin första har man en chans till. Missar man andraserven också blir det dubbelfel och poängen går till motståndaren. Om bollen vid serve touchar nätet innan den går in ska den slås om.</p>
    </article>
    <article class="rules-article">
        <h2>Spela med väggar</h2>
        <p>Glasväggarna är alltid en del av spelet men det finns några regler för hur de får användas. När man ska ta emot en boll så kan man låta den studsa upp i glasväggen efter att den studsat på marken, bollen är då fortfarande levande. Man kan även använda sin egen glasvägg för att slå tillbaka bollen.</p>
        <p>Bollen är levande om den först studsar i marken och sen upp på gallret (detta gäller ej på serve). Om man slår bollen i gallret på sin egen sida så förlorar man bollen. På sin egen sida är regeln att man endast får använda sig av glasväggen.</p>
        <p>Om en boll går direkt i motståndarens galler/glas, dvs inte studsar i marken först, så räknas bollen som ute.</p>
    </article>
    <article class="rules-article">
        <h2>Hur vinner jag poäng?</h2>
        <p>Du vinner poäng om du:</p>
        <ul class="rules-ul">
            <li>Bollen studsar i marken två gånger på motståndarens sida.</li>
            <li>Motståndaren slår bollen i nät.</li>
            <li>Motståndaren slår bollen ut, dvs antingen direkt ut ur buren eller direkt på en av dina väggar (notera att det däremot är giltigt att smasha bollen i marken och den då studsar ut ur buren).</li>
            <li>Motståndaren slår bollen i sitt eget galler.</li>
            <li>En motståndare träffas av bollen på något annat ställe än racket.</li>
            <li>Motståndaren gör ett ”dubbelslag”.</li>
            <li>Motståndaren rör nät eller nätstolpe.</li>
            <li>Motståndaren slå bollen framför nät, om den inte varit över på din sida innan (t ex kommer tillbaka från bakväggen).</li>
            <li>Din boll studsar uppe på bur-ramen (liggaren) efter korrekt slag i marken (motståndaren får slå bollen om den studsar på kanten uppe på bur-ramen). Obs, vid spel utanför banan får bollen studsa hur många gånger som helst på bur-ramen.</li>
            <li>Motståndares boll träffar något objekt (t ex lampor eller takbjälkar).</li>
            <li>Bollen träffar en liggande boll på motståndarens sida (det är upp till varje lag att ha koll på övriga bollar).</li>
        </ul>
    </article>
</section>